/* Fix title bar and window control buttons (only tested with 200% scaling in Windows 11) */

#nav-bar {
  border-top: 0 !important;
}

:root[sizemode="normal"] #navigator-toolbox {
  margin-top: 0.5px !important;
}

#navigator-toolbox {
  border-bottom: 0 !important;
  margin-bottom: 0.5px !important;
}

#navigator-toolbox .titlebar-buttonbox-container {
  height: 28px !important;
}

#navigator-toolbox .titlebar-min .toolbarbutton-icon,
#navigator-toolbox .titlebar-restore .toolbarbutton-icon,
#navigator-toolbox .titlebar-max .toolbarbutton-icon {
  opacity: 0 !important;
}

/* Adjust title bar style (only tested with standard density in Firefox) */

:root {
  --toolbar-start-end-padding: 4px !important;
  --urlbar-margin-inline: 2px !important;
}

#navigator-toolbox .titlebar-spacer {
  display: none !important;
}

#nav-bar:not([customizing]) > #PanelUI-button {
  order: 0 !important;
}

#nav-bar:not([customizing]) > #nav-bar-customization-target {
  order: 1 !important;
}

#nav-bar:not([customizing]) > #nav-bar-overflow-button {
  order: 2 !important;
}

#nav-bar:not([customizing]) > .private-browsing-indicator-with-label {
  margin-inline: 0 !important;
  padding-block: var(--toolbarbutton-inner-padding) !important;
  padding-inline-start: calc(
    var(--toolbar-start-end-padding) + var(--toolbarbutton-inner-padding)
  ) !important;
  padding-inline-end: calc(
    var(--toolbarbutton-outer-padding) + var(--toolbarbutton-inner-padding)
  ) !important;
}

#nav-bar:not([customizing]) > #PanelUI-button > #PanelUI-menu-button {
  padding-inline-start: var(--toolbar-start-end-padding) !important;
  padding-inline-end: 0 !important;
}

#nav-bar:not([customizing], [overflowing], [nonemptyoverflow])
  > #nav-bar-customization-target
  > :is(toolbarbutton, toolbaritem):last-child {
  padding-inline-end: var(--toolbar-start-end-padding) !important;
}

#nav-bar:not([customizing]) > #nav-bar-overflow-button {
  padding-inline-end: var(--toolbar-start-end-padding) !important;
}

#urlbar:not([focused], [open]) > #urlbar-background,
#searchbar:not(:focus-within) {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#appMenu-popup {
  --panel-width: 272px !important;
  margin-inline: calc(var(--panel-width) * -1 + 32px - var(--panel-shadow-margin)) !important;
}

/* Make window transparent to apply Windows 11 Mica effect */

:root {
  --toolbar-bgcolor: transparent !important;
  --sidebar-background-color: var(--toolbarbutton-hover-background) !important;
  --tabpanel-background-color: var(--toolbarbutton-hover-background) !important;
  --tab-selected-bgcolor: var(--button-background-color-active) !important;
}

/* When side panel and vertical tabs is enabled */
@media (-moz-bool-pref: "sidebar.revamp") {
  /* Adjust spacing of elements in side panel (only tested with standard density in Firefox) */

  :root {
    --tab-inner-inline-margin: calc(var(--tab-block-margin) * 2) !important;
    --tab-pinned-margin-inline-expanded: 0px !important;
    --tab-pinned-container-margin-inline-expanded: var(--tab-block-margin) !important;
  }

  spacer[part="overflow-start-indicator"],
  spacer[part="overflow-end-indicator"] {
    background-image: linear-gradient(
      to top,
      transparent 0%,
      var(--toolbar-bgcolor),
      transparent 100%
    ) !important;
    height: 8px !important;
  }

  spacer[part="overflow-start-indicator"] {
    margin-block: 0 -8px !important;
    transform: translateY(-4px) !important;
  }

  spacer[part="overflow-end-indicator"] {
    margin-block: -8px 0 !important;
    transform: translateY(4px) !important;
  }

  #sidebar-box {
    padding-block-end: var(--toolbar-start-end-padding) !important;
    padding-inline-end: calc(var(--toolbar-start-end-padding) + 0.5px) !important;
  }

  #sidebar-splitter {
    --splitter-width: var(--toolbar-start-end-padding) !important;
    margin-inline-start: calc(var(--splitter-width) * -1 - 0.5px) !important;
    margin-inline-end: 0.5px !important;
  }

  #tabbrowser-tabs {
    grid-gap: var(--tab-block-margin) !important;
  }

  #tabbrowser-tabs > #vertical-tabs-newtab-button {
    margin-block-end: var(--tab-block-margin) !important;
  }

  #tabbrowser-tabs > #vertical-pinned-tabs-container {
    margin-block-start: calc(var(--tab-block-margin) * -1 - 0.5px) !important;
  }

  #tabbrowser-tabs[expanded] > #vertical-pinned-tabs-container .tab-background {
    margin-inline: var(--tab-block-margin) !important;
  }

  .tools-and-extensions.actions-list[orientation="horizontal"] {
    --first-last-button-width: calc(
      var(--button-size-icon) + var(--tab-inner-inline-margin) + var(--tab-block-margin)
    ) !important;
    grid-template-columns:
      var(--first-last-button-width) repeat(
        4,
        calc(var(--button-size-icon) + var(--tab-block-margin))
      )
      var(--first-last-button-width) !important;
  }

  .tools-and-extensions.actions-list > moz-button.tools-overflow {
    --button-outer-padding-inline: var(--tab-block-margin) !important;
    --button-outer-padding-block: var(--tab-inner-inline-margin) !important;
  }

  .tools-and-extensions.actions-list > moz-button.tools-overflow:first-of-type {
    --button-outer-padding-inline-start: var(--tab-inner-inline-margin) !important;
    --button-outer-padding-block-end: var(--tab-inner-inline-margin) !important;
  }

  .tools-and-extensions.actions-list > moz-button.tools-overflow:last-of-type {
    --button-outer-padding-inline-end: var(--tab-inner-inline-margin) !important;
    --button-outer-padding-block-end: var(--tab-inner-inline-margin) !important;
  }

  .tools-and-extensions.actions-list > moz-button:not(.tools-overflow) {
    --button-outer-padding-inline: var(--tab-inner-inline-margin) !important;
    --button-outer-padding-block: var(--tab-block-margin) !important;
  }

  .tools-and-extensions.actions-list > moz-button:not(.tools-overflow):first-of-type {
    --button-outer-padding-block-start: var(--tab-inner-inline-margin) !important;
  }

  .tools-and-extensions.actions-list > moz-button:not(.tools-overflow):last-of-type {
    --button-outer-padding-block-end: var(--tab-inner-inline-margin) !important;
  }

  /* Round the top-left corner of the browser (ensure the side panel is set to the left) */

  #browser:has(> [id^="sidebar"]:not([hidden="true"])) > #tabbrowser-tabbox {
    border-top-left-radius: var(--border-radius-medium) !important;
  }

  #browser:has(> [id^="sidebar"]:not([hidden="true"])) > #tabbrowser-tabbox #tabbrowser-tabpanels {
    border-top-left-radius: var(--border-radius-medium) !important;
  }

  #browser:has(> [id^="sidebar"]:not([hidden="true"]))
    .browserSidebarContainer
    > .browserContainer:first-child
    > browser:first-child,
  #browser:has(> [id^="sidebar"]:not([hidden="true"]))
    .browserSidebarContainer
    > .browserContainer:first-child
    > .browserStack:first-child
    > browser,
  #browser:has(> [id^="sidebar"]:not([hidden="true"]))
    .browserSidebarContainer
    > browser:first-child {
    border-top-left-radius: var(--border-radius-medium) !important;
  }
}

/* Cleaner extensions menu */
/* Reference: https://github.com/datguypiko/Firefox-Mod-Blur/blob/8bc25e9/EXTRA%20MODS/Compact%20extensions%20menu/Style%202/cleaner_extensions_menu.css */

#unified-extensions-panel #unified-extensions-view {
  width: 100% !important;
}

#unified-extensions-view {
  --uei-icon-size: 24px;
  --ext-panel-grid-columns: 3;
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents {
  display: none !important;
}

#unified-extensions-view .panel-subview-body {
  padding: 4px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
  margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
  display: grid !important;
  grid-template-columns: repeat(var(--ext-panel-grid-columns), auto);
  justify-items: left !important;
  align-items: left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list {
  max-width: max-content;
}

#unified-extensions-view #unified-extensions-area {
  padding-bottom: 3px !important;
  border-bottom: 1px solid #aeaeae33 !important;
}

#unified-extensions-view:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
  margin: 1px !important;
}
